* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.image {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1580076653916-1b1aa023fe24?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2060&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5D4954;
}

.logo {
    color: rgb(231, 231, 231);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(231, 231, 231);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 2.5px;
    background-color: rgb(231, 231, 231);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:900px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo {
        font-size: 16px;
    }
    .nav-links a {
        font-size: 12px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);    
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);    
}